.container {
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(31, 112, 31);
    border-radius: 30px;
    width: 42px;
    height: 22px;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    cursor: pointer;
}
.icon {
    font-size: 12px;
}
.circle {
    width: 15px;
    height: 15px;
    background-color: #19292e;
    border-radius: 50%;
    position: absolute;

}