.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.imgContainer {
    position: relative;
    width: 100%;
    height:250px;
    margin-bottom: 20px;
}

.image {
    object-fit: cover;
    position: absolute;
}
.imgText {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background-color: #191919;
    padding: 10px;
    border-radius: 5px;
}

.textContainer {   /* optional but safe */
    width: 100%;
    display: flex;
    gap: 20px;
}
.item {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}