.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.formContainer {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    flex:1;
}
.imageContainer {
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    flex: 1;

}
.image {
    object-fit: cover;
    position: absolute;
}
.image {
    object-fit: cover;
    position: absolute;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.input, .textArea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #191919;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: #333;
}
