.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 40px 20px;
}

.h1 {
    font-size: 48px;
    text-align: center;
}

.h2 {
    font-size: 24px;
    color: #666;
    margin-bottom: 40px;
}

.galleryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 5px solid white;
    overflow: hidden;
    position: relative;
}

.item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    
}

.image {
    object-fit: cover;
    transition: transform 0.3s ease;
}

.item:hover .image, .item:hover h2{
    transform: scale(1.05);
    color: #239c61;
    
}

.item h2 {
    font-size: 24px;
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #ccc; 
    
}

/* Responsive */
@media (max-width: 768px) {
    .galleryContainer {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .h1 {
        font-size: 36px;
    }

    .h2 {
        font-size: 18px;
    }
}