* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #111;
  color: #eae8e8;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 5rem;
}

.light {
  background-color: #eae8e8;
  color: #111;
}

.dark {
  background-color: #111;
  color: #eae8e8;
}

.theme {
  transition: 1s all ease;
}
