.container {
    display: flex;
    align-items: center;
    gap: 100px;
    
    
}
.item {
    flex: 1;
    position: relative;
}
.imgContainer {
    flex: 1;
    position: relative;
    width: 100%;
    height:400px;
    
}


.heading {
    font-size: 60px;
    background: linear-gradient(to bottom, #194c33, #bbb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    font-size: 20px;
    color: #9b9a9a;
    margin: 20px 0;
}

.image {
    object-fit: contain;
    animation: move 3s infinite ease alternate;
}

@keyframes move{
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(10px);
    }
}