.container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.icon {
    font-size: 1.5rem;
    font-weight: bold;
}
.links {
    display: flex;
    gap: 2rem;
}
.link {
    font-size: 1.1rem;
    
}

